<!DOCTYPE html>
<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
</head>

<body>
  <div class="container">
    <br>
    <div class="jumbotron">
      <h1 class="display-4">Send Message</h1>
      <br>
      <input id="name" class="form-control" placeholder="Name">
      <br>
      <textarea id="message" class="form-control" placeholder="Your Message Here">
  </textarea>
      <br>
      <button id="send" class="btn btn-success">Send</button>
    </div>
    <div id="messages">

    </div>
  </div>
  <script>
    (function () {
      getMessages()

      var socket = io();
      // Register to the messasge socket channel
      socket.on('message', addMessages);

      $("#send").click(sendMessage);
    })()

    function addMessages(message) {
      $("#messages").append(`
        <h4> ${message.name} </h4>
        <p>  ${message.message} </p>`
      )
    }

    function getMessages() {
      $.get('/messages', (data) => {
        data.forEach(addMessages);
      })
    }

    function sendMessage() {
      $.post('/messages', { name: $("#name").val(), message: $("#message").val() })
      $("#message").val('');
    }
  </script>
</body>

</html>